{
    "presets": [
        "react-app"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "shineout",
                "libraryDirectory": "css", // 引入 css 
                "style": false,
                "camel2DashComponentName": false,
                "camel2UnderlineComponentName": false
            }
        ]
    ]
}